<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; URL='/home'"/>
    <link rel="stylesheet" type="text/css" href=".../static/css/style.css">
    <title>Produtos Registrados</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255);">
    <p th:text="${nome}"></p>
    <p th:text="${preco}"></p>
    <p th:text="${qtd}"></p>
    <ul th:each="item : ${listaDeProdutos}">
        <li th:utext="${item}"></li>
    </ul>
    <a href="/home">Voltar</a>
</body>
</html>